.backToTop {
    position: fixed;
    bottom: 60px;
    right: 110px;
    background: rgba(255, 245, 246, 0.8);
    color: #104800;
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 700;
    height: 60px;
    width: 60px;
    border: 1px solid #fff5f6;
    border-radius: 50%;
    transition: var(--transition);
}

.backToTop:hover {
    transform: scale(1.2);
    background: #fff5f6;
}

@media (max-width: 992px) {
    .backToTop {
        position: fixed;
        bottom: 30px;
        right: 50px;
    }
}