.Footer {
    font-family: var(--secondary-font);
}

.Footer a {
    text-decoration: none;
    color: brown;
    transition: var(--transition);
}

.Footer a:hover {
    color:black;
    text-shadow: 1px 2px 3px #a4a2a2;
}

@media (max-width: 768px) {
    .Footer {
        font-size: 12px;
    }
}