.definition {
    font-family: var(--secondary-font);;
    font-size: 26px;
}

.quotes {
    color: rgba(53, 61, 61, 0.8);
    font-size: 21px;
    font-family: var(--primary-font);
    font-weight: 600;
    font-style: italic;
}