section {
    min-height: 73vh;
}

.searchInput {
    border: inherit;
    background-color: inherit;
    border-block-end: 1px solid #000;
    max-width: 30%;
    font-family: var(--secondary-font);
    font-size: 21px;
    transition: var(--transition);
}

.searchInput:focus {
   outline: none;
   caret-color: rgb(17, 87, 64);
}

.searchButton {
    border: inherit;
    background: inherit;
    transition: var(--transition);
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 700;
}

.searchButton:hover {
    color: #fc0b57;
}

h1 {
    font-family: 'Lostar', 'Cinzel Decorative', cursive;
    font-size: 5.5vw !important;
    background: -webkit-linear-gradient(0.2turn, #f6f7f6, #2d003c, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

@font-face {
    font-family: 'Lostar';
    src: url("./fonts/Lostar.ttf");
}

@media (max-width: 768px) {
    h1 {
        font-size: 41px !important;
    }

    .searchInput {
        font-size: 18px;
    }
}