section {
    min-height: 73vh;
}

.searchInput {
    border: inherit;
    background-color: inherit;
    border-block-end: 1px solid #000;
    max-width: 30%;
    font-family: var(--secondary-font);
    font-size: 21px;
    transition: var(--transition);
}

.searchInput:focus {
   outline: none;
   caret-color: rgb(17, 87, 64);
}

.searchButton {
    border: inherit;
    background: inherit;
    transition: var(--transition);
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 700;
}

.searchButton:hover {
    color: #fc0b57;
}

h1 {
    font-family: 'Leafy Regular', 'Cinzel Decorative', cursive;
    font-size: 7vw !important;
    background: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #104800;
}

@font-face {
    font-family: 'Leafy Regular';
    src: url("./fonts/Leafy-Regular.ttf");
}

@media (max-width: 768px) {
    h1 {
        font-size: 41px !important;
        -webkit-text-stroke: 0.6px #104800;
    }

    .searchInput {
        font-size: 18px;
    }
}

.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }